@model Project.ViewModels.Customer.CustomerViewModel
@{
    ViewBag.Title = "Customer";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>All customers.</p>

<br />

@{
    Html.RenderPartial("_ListCustomer");
}

<br />
<br />

@{
    Html.RenderPartial("_AddCustomer", Model.Customer);
}