@model Project.ViewModels.Customer.CustomerViewModel
@{
    ViewBag.Title = "Customer";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>All customers.</p>

<br />

<div class="col-md-8">
    @{
        Html.RenderPartial("_ListCustomer");
    }
 </div>
<div class="col-md-4">
    @{
        Html.RenderPartial("_AddCustomer", Model.Customer);
    }
</div>