/* line 1, ../sass/modules/_layout.scss */
.column {
  display: inline-block;
  margin: 40px;
}

/* line 6, ../sass/modules/_layout.scss */
.column-left {
  float: left;
}

/* line 1, ../sass/partials/_find.scss */
.product {
  min-width: 500px;
  padding: 40px 20px;
  border-bottom: 1px solid #e5e5e5;
}
/* line 6, ../sass/partials/_find.scss */
.product img {
  height: 120px;
}
/* line 10, ../sass/partials/_find.scss */
.product .info {
  display: inline-block;
  vertical-align: middle;
  margin: 40px;
}

/* line 17, ../sass/partials/_find.scss */
.product-list {
  overflow: hidden auto;
}

/* line 21, ../sass/partials/_find.scss */
.search-field {
  padding: 0 6px;
}

/* line 25, ../sass/partials/_find.scss */
.search-result {
  width: 500px;
}

/* line 29, ../sass/partials/_find.scss */
.sort-option {
  float: right;
}

/* line 33, ../sass/partials/_find.scss */
.page-selector {
  margin: 20px 0;
  text-align: center;
}

/* line 38, ../sass/partials/_find.scss */
.page-selector a {
  margin: 10px;
  padding: 10px;
}
