/* line 1, ../sass/modules/_layout.scss */
.column {
  display: inline-block;
  margin: 40px;
}

/* line 6, ../sass/modules/_layout.scss */
.column-left {
  float: left;
}

/* line 2, ../sass/modules/_slide.scss */
.slide-container {
  display: block;
  position: relative;
  width: 960px;
  height: 540px;
}

/* line 9, ../sass/modules/_slide.scss */
.slide-selector {
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.25);
  z-index: 5;
  text-align: center;
}

/* line 18, ../sass/modules/_slide.scss */
.slide-selector input {
  margin: 4px !important;
}

/* line 22, ../sass/modules/_slide.scss */
.slide {
  list-style: none;
}

/* line 26, ../sass/modules/_slide.scss */
.slide img {
  max-width: 100%;
  max-height: 100%;
  border: 0;
  border-radius: 2px;
  display: block;
}

/* line 34, ../sass/modules/_slide.scss */
.slide li {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
}

/* line 41, ../sass/modules/_slide.scss */
.slide li:first-child {
  display: block;
}
