/* line 1, ../sass/modules/_layout.scss */
.column {
  display: inline-block;
  margin: 40px;
}

/* line 6, ../sass/modules/_layout.scss */
.column-left {
  float: left;
}

/* line 2, ../sass/modules/_slide.scss */
.slide-container {
  margin: 20px;
  position: relative;
}

/* line 7, ../sass/modules/_slide.scss */
.slide-selector {
  background-color: rgba(0, 0, 0, 0.25);
  z-index: 5;
  text-align: center;
}

/* line 13, ../sass/modules/_slide.scss */
.slide-selector input {
  margin: 4px !important;
}

/* line 17, ../sass/modules/_slide.scss */
.slide {
  list-style: none;
}

/* line 21, ../sass/modules/_slide.scss */
ul.slide {
  padding: 0;
}

/* line 25, ../sass/modules/_slide.scss */
.slide li {
  display: none;
}

/* line 29, ../sass/modules/_slide.scss */
.slide li:first-child {
  display: block;
}
