
@{
    ViewBag.Title = "Slide";
}

<script type="text/javascript">
    $(function() {
        init($(".slide"));
    });
</script>

<h2>Slide</h2>
<p>
    Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
    Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper.
    Aenean ultricies mi vitae est. Mauris placerat eleifend leo.
</p>

<div class="slide-container container-fluid">
    <ul class="slide">
        <li><img src="~/Content/img/slide/image_1.png" alt="" class="img-responsive img-rounded" /></li>
        <li><img src="~/Content/img/slide/image_2.png" alt="" class="img-responsive img-rounded" /></li>
        <li><img src="~/Content/img/slide/image_3.png" alt="" class="img-responsive img-rounded" /></li>
        <li><img src="~/Content/img/slide/image_4.png" alt="" class="img-responsive img-rounded" /></li>
        <li><img src="~/Content/img/slide/image_5.png" alt="" class="img-responsive img-rounded" /></li>
        <li><img src="~/Content/img/slide/image_6.png" alt="" class="img-responsive img-rounded" /></li>
    </ul>
</div>

<p>
    Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
    Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper.
    Aenean ultricies mi vitae est. Mauris placerat eleifend leo.
</p>

<dl>
    <dt>Definition list</dt>
    <dd>
        Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
        aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat.
    </dd>
    <dt>Lorem ipsum dolor sit amet</dt>
    <dd>
        Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
        aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat.
    </dd>
</dl>
