
@{
    ViewBag.Title = "Slide";
}

<script type="text/javascript">
    $(function() {
        init($(".slide"));
    });
</script>

<h2>Slide</h2>

<div class="slide-container">
    <ul class="slide">
        <li><img src="~/Content/img/slide/image_1.png" alt="" /></li>
        <li><img src="~/Content/img/slide/image_2.png" alt="" /></li>
        <li><img src="~/Content/img/slide/image_3.png" alt="" /></li>
        <li><img src="~/Content/img/slide/image_4.png" alt="" /></li>
        <li><img src="~/Content/img/slide/image_5.png" alt="" /></li>
        <li><img src="~/Content/img/slide/image_6.png" alt="" /></li>
    </ul>
</div>
