.product {
    min-width: 500px;
    padding: 40px 20px;
    border-bottom: 1px solid #e5e5e5;

    img {
        height: 120px;
    }

    .info {
        display: inline-block;
        vertical-align: middle;
        margin: 40px;
    }
}

.product-list {
    overflow: hidden auto;
}

.search-field {
    padding: 0 6px;
}

.search-result {
    width: 500px;
}

.sort-option {
    float: right;
}

.page-selector {    
    margin: 20px 0;
    text-align: center;
}

.page-selector a {
    margin: 10px;
    padding: 10px;
}