@model Project.ViewModels.Order.OrderViewModel
@{
    ViewBag.Title = "Order";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>All orders for customers.</p>

<br />

@{
    Html.RenderPartial("_ListOrder");
}

<br />
<br />

@{
    Html.RenderPartial("_AddOrder", Model.Order);
}