@model Project.ViewModels.Order.OrderViewModel
@{
    ViewBag.Title = "Order";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>All orders for customers.</p>

<br />

<div class="col-md-8">
    @{
        Html.RenderPartial("_ListOrder");
    }
 </div>

<div class="col-md-4">
    @{
        Html.RenderPartial("_AddOrder", Model.Order);
    }
</div>
