@model Project.Domain.Product.Product

<div class="col-md-8">
    <h2>@Model.Title</h2>
    <p>Author: @Model.Author</p>
    <br />
    <div class="abstract">
        <strong>Abtract:</strong>@Html.Raw(Model.Abstract)
    </div>
    <div class="main-content">
        <strong>Content:</strong>@Html.Raw(Model.Content)
    </div>
</div>