@model Project.ViewModels.Product.ProductViewModel
@{
    ViewBag.Title = "Product";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>All available products.</p>

<br/>

<div class="col-md-8">
    @{
        Html.RenderPartial("_ListProduct");
    }
</div>