@*@model Project.ViewModels.Find.ListItemViewModel*@
<p>Add entries:</p>

@using (Html.BeginForm("Submit", "Find", FormMethod.Post))
{
    <label for="form_name">Name</label>
    <input type="text" name="form_name" id="form_name" />
    <label for="form_code">Code</label>
    <input type="text" name="form_code" id="form_code" />
    <input type="submit" value="Submit">


    @*<div class="auth-field">
        <div class="auth-label">
            <label for="@Html.IdFor(m => m.RegisterForm.FirstName)">
                @UIText.View_User_Register_FirstName
            </label>
        </div>

        <div class="auth-input">
            @Html.CustomTextboxFor(m => m.RegisterForm.FirstName)
        </div>
    </div>*@
}
