@model Project.ViewModels.Find.ListItemViewModel
@{
    ViewBag.Title = "List model";
}

<p>All entries:</p>
<ul style="list-style-type: none">
    @foreach (var item in Model.Collection)
    {
        <li>@item</li>
    }
</ul>
