@using Project.Domain.Find
@model Search

@using (Html.BeginForm("search", "Find", FormMethod.Get))
{
    <fieldset>
        <legend>Search products</legend>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Query, new { @class = "search-field" })
            <input type="submit" class="search" />
        </div>
        <br/>
        @foreach (var method in Enum.GetValues(typeof(Search.SearchMethod)))
        {
            <div class="editor-radiobutton">
                @Html.RadioButtonFor(model => model.Method, method)
                @Html.Label(method.ToString())
            </div>
        }
    </fieldset>
}