@model Project.ViewModels.Find.FindViewModel
@{
    ViewBag.Title = "Find";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<br/>

<div class="col-md-8">
    @{
        Html.RenderPartial("_ListProduct");
    }
</div>