@{
    ViewBag.Title = "Find";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>

@{
    Html.RenderPartial("_List");
}

<br/>
<br/>

@{
    Html.RenderPartial("_AddEntry");
}
