@model Project.ViewModels.Find.FindViewModel

<div class="column-left column">
    @{
        Html.RenderPartial("_searchPanel", Model.Search);
    }
</div>
<div class="column-center column">
    @{
        Html.RenderPartial("_listProducts", Model);
    }
</div>