@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>REDSITE TESTSITE</h1>
    <br/>
    <p class="lead">This is the slideshow branch. Slideshow javascript plugin example.</p>
</div>