@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>REDSITE TESTSITE</h1>
    <br/>
    <p class="lead">This is the master branch - nothing to see here.</p>
    <p>Features and experiments can be found in their own branch.</p>
</div>