@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>REDSITE - SEARCH ENGINE</h1>
    <p class="lead">This is a .NET example of a search engine.</p>
    <p>I'll be experimenting different search techniques on content from a database.</p>
</div>