@model Project.ViewModels.Stock.StockViewModel
@{
    ViewBag.Title = "List model";
}

<legend>Available products</legend>
<table class="table all-products" style="width:400px">
    <tbody>
        <tr>
            <th>Id</th>
            <th>Product Name</th>
            <th>Code</th>
            <th>Price</th>
        </tr>
        @foreach (var item in Model.Products)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Code</td>
                <td>£@item.Value</td>
            </tr>
        }
    </tbody>
</table>

