@model Project.ViewModels.Stock.StockViewModel
@{
    ViewBag.Title = "Stock";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>All available products.</p>

<br/>

<div class="col-md-8">
    @{
        Html.RenderPartial("_ListProduct");
    }
</div>
<div class="col-md-4">
    @{
        Html.RenderPartial("_AddProduct", Model.Product);
    }
</div>